version: '3.8'
services:
  backend:
    image: backend:latest
    build: ./backend
    networks:
      - three
    ports:
      - 5000:5000
    environment:
      -  FLASK_APP=app.py
      -  FLASK_ENV=production
      -  MYSQL_HOST=mysql
      -  MYSQL_USER=root
      -  MYSQL_PASSWORD=rootpass
      -  MYSQL_DATABASE=devops_exam
    volumes:
      - ./backend:/app
      # Map the frontend folder to the standard Flask templates directory
      - ./frontend:/app/templates
    depends_on:
      - mysql


  mysql:
    image: mysql:latest
    ports:
      - 3306:3306
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      -   MYSQL_ROOT_PASSWORD=rootpass
      -   MYSQL_DATABASE=devops_exam   
    networks:
      - three
networks:
  three:
    driver: bridge



