version: '2.26'
services:
  backend:
    image: backend:latest
    build: ./backend
    networks:
      - three
    ports:
      - 5000:5000
    environment:
      -  MYSQL_HOST=mysql
      -  MYSQL_USER=root
      -  MYSQL_PASSWORD=rootpass
      -  MYSQL_DATABASE=devops_exam
    depends_on:
      - mysql

  mysql:
    image: mysql:latest
    ports:
      - 3306:3306
    environment:
      -   MYSQL_ROOT_PASSWORD=rootpass
    networks:
      - three
networks:
  three:
    driver: bridge
